{% extends 'base.html.twig' %}

{% block title %}Modifier un Evénement{% endblock %}

{% block body %}
    <h1>Modifier l'événement</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Mettre à jour l\'évènement'}) }}

    <a href="{{ path('event_index') }}">retour à la liste</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
